.foodSearchContainer {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.searchResultsContainer {
  width: 800px;
}

.searchResultItem,
.extendedOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResultCollapsed {
  display: none;
}

.searchItem img {
  cursor: pointer;
  max-height: 25px;
}

.foodDetailsForm {
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.foodDetailsForm input {
  font-size: 1.05rem;
  text-align: center;
}

.foodDetailsForm img {
  width: 30px;
  max-height: 30px;
}

.foodDetailsForm img:hover {
  transition: all 0.2s;
  transform: scale(1.05)
}