.navBar {
  position: absolute;
  left: 0;
  top: 0;
}

#hamburgerMenuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.menuCollapsed {
  display: none;
  width: 0;
}

.menuExtended {
  transition: all 0.3s;
  display: block;
  width: auto;
}