.nutrientInfoContainer {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.2));
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoCouple {
  display: flex;
  align-items: center;
}

.nutrientCategoryContainers {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 450px));
  justify-content: center;
  gap: 100px;
  min-width: 100vw;
}

.infoCouple {
  justify-content: space-between;
  gap: 30px;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-shadow: -5px 5px 10px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  font-size: 1.5rem;
  gap: 5px;
  min-height: 500px;
}

.foodNameDiv {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}