.ingredientSearchContainer {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.searchResultsDiv {
  width: 1000px;
}

.searchResultsContainer {
  padding: 0px 10px;
  height: 90vh;
  overflow: scroll;
}

.searchResultsContainer::-webkit-scrollbar {
  display: none;
}

.searchResultItem,
.extendedOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResultCollapsed {
  display: none;
}

.searchItem img {
  cursor: pointer;
  max-height: 25px;
}

.ingredientDetailsForm {
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.ingredientDetailsForm input {
  font-size: 1.05rem;
  text-align: center;
}

.ingredientDetailsForm img {
  width: 30px;
  max-height: 30px;
}

.ingredientDetailsForm img:hover {
  transition: all 0.2s;
  transform: scale(1.1)
}